* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::after,
::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 18px;
}

:active,
:hover,
:focus {
  outline: none;
  outline-offset: none;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  color: inherit;
}

body {
  font-family: 'Sofia Sans', Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.personal {
  margin: 0 auto;
}

h1 {
  margin: 20px auto 0;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  padding: 5px 10px;
}

h2 {
  margin: 25px auto;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding-top: 16px;
  border-top: 1px rgb(72, 72, 75) solid;
}

.about__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.about__link {
  margin-top: 16px;
  text-decoration: underline;
  transition: color 0.4s;
}

@media (hover:hover) {
  .about__link:hover {
    color: rgb(72, 72, 75);
  }
}

@media (hover:none) {
  .about__link:active {
    color: rgb(72, 72, 75);
  }
}

.scills {
  margin-top: 30px;
  border-top: 1px rgb(72, 72, 75) solid;
}

.scills__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.scills__item {
  margin: 20px 30px;
}

.portfolio {
  padding: 20px 0 60px;
  border-top: 1px rgb(72, 72, 75) solid;
}

.portfolio__title {
  margin-bottom: 40px;
}

.portfolio__inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.portfolio__item {
  width: 450px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.portfolio__img {
  width: 450px;
  height: 300px;
  -o-object-fit: cover;
  object-fit: cover;
  border: 1px rgb(72, 72, 75) solid;
  -o-object-position: top;
  object-position: top;
}

.portfolio__title {
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio__link {
  margin-top: 20px;
  transition: color 0.4s;
}

@media (hover:hover) {
  .portfolio__link:hover {
    color: rgb(72, 72, 75);
  }
}

@media (hover:none) {
  .portfolio__link:active {
    color: rgb(72, 72, 75);
  }
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  padding: 10px 0;
  border-top: 1px rgb(72, 72, 75) solid;
}

.contacts__item {
  margin: 20px 30px;
}

.contact__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__icon {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
  object-fit: contain;
  margin-bottom: 20px;
  transition: transform 0.8s;
}

@media (hover:hover) {
  .contact__icon:hover {
    transform: scale(1.1);
  }
}

.contact__info {
  text-align: center;
  font-weight: 600;
  transition: color 0.4s;
}

@media (hover:hover) {
  .contact__info:hover {
    color: rgb(72, 72, 75);
  }
}

@media (max-width: 450px) {
  .portfolio__item {
    width: 300px;
    min-height: 200px;
  }

  .portfolio__img {
    width: 300px;
    height: 200px;
  }
}

.resume {
  padding: 24px 20px;
}

.resume .container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resume section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px rgb(72, 72, 75) solid;
  padding: 16px;
}

section.header {
  flex-direction: row;
  align-items: center;
}

.resume h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: left;
}

.header__img {
  border-radius: 16px;
}

.header__title {
  margin: 0;
  padding: 0;
}

.skills__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

.skills__item {
  border: 1px rgb(72, 72, 75) solid;
  padding: 8px 16px;
}

.skills__item_link {
  padding: 0;
}

.skills__link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px 16px;
}

.experience__list,
.education__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.experience__item {
  position: relative;
  max-height: 124px;
  width: 100%;
  padding: 12px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
  border: 1px solid #b1b1b3;
  background-color: #fbfbfc;
  transition: max-height 0.4s;
}

@media (max-width: 768px) {
  .experience__item {
    max-height: 224px;
  }
}

.active {
  max-height: 2000px;
}

.experience__item:after {
  position: absolute;
  right: 0px;
  top: 90px;
  content: '\25BE';
  font-size: 28px;
  color: #9c9b9b;
  transition: transform 0.4s;
}

.active:after {
  transform: rotate(180deg);
  transition: transform 0.4s;
}

.experience__period,
.education__period {
  font-size: 14px;
  color: rgb(85, 85, 85);
}

.experience__city,
.education__city {
  font-size: 14px;
  color: rgb(123, 123, 123);
}

.experience__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.experience__desc-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}

.experience__post {
  font-size: 24px;
}

.education__profession {
  font-size: 20px;
  font-weight: 500;
}