body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(240, 245, 245, 0.6);
    z-index: 2;
}

.game {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button,
input {
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    border: none;
    background: transparent;
    outline: none;
}

.game__inner-left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.game__actions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.game__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.game__results {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.game__results-block {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#speed {
    background: #fff;
    padding: 6px;
    border: 1px solid #003300;
    border-radius: 4px;
    transition: background 0.4s;
}

@media (hover:hover) {

    #speed:hover {
        background: #e6ffe6;
    }

}

@media (hover:none) {

    #speed:active {
        background: #e6ffe6;
    }

}

.game__btn {
    background: #fff;
    padding: 6px;
    border: 1px solid #003300;
    border-radius: 4px;
    transition: background 0.4s;
}

@media (hover:hover) {

    .game__btn:hover {
        background: #e6ffe6;
    }

}

@media (hover:none) {

    .game__btn:active {
        background: #e6ffe6;
    }

}

.game__results-block:has(#score) {
    font-size: 18px;
    font-weight: 600;
    color: #660000;
}

.game__inner-right {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    caret-color: transparent;
}
